{% extends 'blog/base.html' %}
{% block content %}
<div class="container" style="background: black; padding: 20px; margin-top: 10px; border-radius: 20px;">
<h1>CeylonThread About</h1><br>
<p>Welcome to CeylonThread, your go-to microblogging platform where ideas weave together into a vibrant tapestry of thoughts and insights. Here at CeylonThread, we believe in the power of diverse voices and the beauty of shared experiences. Whether you're passionate about technology, art, travel, food, or any other topic under the sun, our platform is designed for you to express yourself freely and connect with like-minded individuals. Each post is a unique thread contributing to the rich, dynamic fabric of our community. Join us on this journey of discovery, creativity, and conversation, and let your voice be heard on CeylonThread.</p>
