<article class="media content-section">
    <img class="rounded-circle article-img" src="path/to/author/profile/image.jpg" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Author Name</a>
            <small class="text-muted">Date Posted</small>
        </div>
        <h2><a class="article-title" href="/blog-detail/post-id">Post Title</a></h2>
        <p class="article-content">Post content goes here...</p>
    </div>
    <br>
</article>
