{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
<div class="content-section">
    <form action="" method="post">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Posts</legend>
            <h4>Hey, do you wanna delete this post <b>"Post Title"</b></h4>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Delete</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a href="/blog-home">Go back</a></small>
    </div>
</div>
